/* Element Selector. */
body {
    background-color: gray;
}

/* ID Selector. */
#first {
    border: blue solid 3px;
    background-color: crimson;
}

#last {
    border: red solid 3px;
    background-color: aqua;
}

/* Class Selector. */
.pairs {
    border: green solid 3px;
    background-color: mediumpurple;
}