<% include partials/header %>
<h1>Search For A Movie/Series.</h1>
<form action="/results" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>
<% include partials/footer %>